In [1]:
import re

import pandas as pd

In [3]:
df = pd.read_csv("Annotated ABSA with Emotions Dataset.csv")
df

,Review Sentence,Aspect term,polarity,from,to,Anger,Disgust,Fear,Joy,Sadness,Surprise,Emotion Class,emotion context words
0,But the staff was so horrible to us.,staff,negative,8,13,4.0,1.0,1.0,0.0,3.0,1.0,Anger,horrible
1,"To be completely fair, the only redeeming fact...",food,positive,57,61,0.0,0.0,0.0,2.0,0.0,0.0,Joy,which was above average
2,"The food is uniformly exceptional, with a very...",food,positive,4,8,0.0,0.0,0.0,4.0,0.0,0.0,Joy,"uniformly exceptional, very capable proudly"
3,"The food is uniformly exceptional, with a very...",kitchen,positive,55,62,0.0,0.0,0.0,4.0,0.0,0.0,Joy,uniformly exceptional very capableproudly
4,"The food is uniformly exceptional, with a very...",menu,neutral,141,145,0.0,0.0,0.0,4.0,0.0,0.0,Joy,uniformly exceptionalvery capableproudly
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4827,Each table has a pot of boiling water sunken i...,pot of boiling water,neutral,17,37,2.0,2.0,0.0,1.0,0.0,0.0,Anger,sunken into its surface(1)you get platters of ...
4828,Each table has a pot of boiling water sunken i...,meats,neutral,99,104,0.0,0.0,0.0,3.0,0.0,1.0,Joy,sunken into its surface(1)you get platters of ...
4829,Each table has a pot of boiling water sunken i...,vegetables,neutral,114,124,0.0,0.0,0.0,2.0,0.0,1.0,Joy,sunken into its surface(1)you get platters of ...
4830,Each table has a pot of boiling water sunken i...,rice,neutral,130,134,0.0,0.0,0.0,2.0,0.0,1.0,Joy,sunken into its surface(1)you get platters of ...
4831,Each table has a pot of boiling water sunken i...,glass noodles,neutral,139,152,0.0,0.0,0.0,2.0,0.0,1.0,Joy,sunken into its surface(1)you get platters of ...

In [6]:

# Function to apply re.sub if the value is a string
def remove_symbols(text):
    if isinstance(text, str):
        return re.sub(r'\(\d+\)', '', text)
    return text

# Apply the function to the columns
df['Review Sentence'] = df['Review Sentence'].apply(remove_symbols)
df['emotion context words'] = df['emotion context words'].apply(remove_symbols)

print(df)

                                        Review Sentence           Aspect term  \
0                  But the staff was so horrible to us.                 staff
1     To be completely fair, the only redeeming fact...                  food
2     The food is uniformly exceptional, with a very...                  food
3     The food is uniformly exceptional, with a very...               kitchen
4     The food is uniformly exceptional, with a very...                  menu
...                                                 ...                   ...
4827  Each table has a pot of boiling water sunken i...  pot of boiling water
4828  Each table has a pot of boiling water sunken i...                 meats
4829  Each table has a pot of boiling water sunken i...            vegetables
4830  Each table has a pot of boiling water sunken i...                  rice
4831  Each table has a pot of boiling water sunken i...         glass noodles

      polarity  from   to  Anger  Disgust  Fear  Joy  Sadness  Surprise  \
0     negative     8   13    4.0      1.0   1.0  0.0      3.0       1.0
1     positive    57   61    0.0      0.0   0.0  2.0      0.0       0.0
2     positive     4    8    0.0      0.0   0.0  4.0      0.0       0.0
3     positive    55   62    0.0      0.0   0.0  4.0      0.0       0.0
4      neutral   141  145    0.0      0.0   0.0  4.0      0.0       0.0
...        ...   ...  ...    ...      ...   ...  ...      ...       ...
4827   neutral    17   37    2.0      2.0   0.0  1.0      0.0       0.0
4828   neutral    99  104    0.0      0.0   0.0  3.0      0.0       1.0
4829   neutral   114  124    0.0      0.0   0.0  2.0      0.0       1.0
4830   neutral   130  134    0.0      0.0   0.0  2.0      0.0       1.0
4831   neutral   139  152    0.0      0.0   0.0  2.0      0.0       1.0

     Emotion Class                              emotion context words
0            Anger                                           horrible
1              Joy                            which was above average
2              Joy        uniformly exceptional, very capable proudly
3              Joy          uniformly exceptional very capableproudly
4              Joy           uniformly exceptionalvery capableproudly
...            ...                                                ...
4827         Anger  sunken into its surfaceyou get platters of thi...
4828           Joy  sunken into its surfaceyou get platters of thi...
4829           Joy  sunken into its surfaceyou get platters of thi...
4830           Joy  sunken into its surfaceyou get platters of thi...
4831           Joy  sunken into its surfaceyou get platters of thi...

[4832 rows x 13 columns]

In [7]:
df

,Review Sentence,Aspect term,polarity,from,to,Anger,Disgust,Fear,Joy,Sadness,Surprise,Emotion Class,emotion context words
0,But the staff was so horrible to us.,staff,negative,8,13,4.0,1.0,1.0,0.0,3.0,1.0,Anger,horrible
1,"To be completely fair, the only redeeming fact...",food,positive,57,61,0.0,0.0,0.0,2.0,0.0,0.0,Joy,which was above average
2,"The food is uniformly exceptional, with a very...",food,positive,4,8,0.0,0.0,0.0,4.0,0.0,0.0,Joy,"uniformly exceptional, very capable proudly"
3,"The food is uniformly exceptional, with a very...",kitchen,positive,55,62,0.0,0.0,0.0,4.0,0.0,0.0,Joy,uniformly exceptional very capableproudly
4,"The food is uniformly exceptional, with a very...",menu,neutral,141,145,0.0,0.0,0.0,4.0,0.0,0.0,Joy,uniformly exceptionalvery capableproudly
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4827,Each table has a pot of boiling water sunken i...,pot of boiling water,neutral,17,37,2.0,2.0,0.0,1.0,0.0,0.0,Anger,sunken into its surfaceyou get platters of thi...
4828,Each table has a pot of boiling water sunken i...,meats,neutral,99,104,0.0,0.0,0.0,3.0,0.0,1.0,Joy,sunken into its surfaceyou get platters of thi...
4829,Each table has a pot of boiling water sunken i...,vegetables,neutral,114,124,0.0,0.0,0.0,2.0,0.0,1.0,Joy,sunken into its surfaceyou get platters of thi...
4830,Each table has a pot of boiling water sunken i...,rice,neutral,130,134,0.0,0.0,0.0,2.0,0.0,1.0,Joy,sunken into its surfaceyou get platters of thi...
4831,Each table has a pot of boiling water sunken i...,glass noodles,neutral,139,152,0.0,0.0,0.0,2.0,0.0,1.0,Joy,sunken into its surfaceyou get platters of thi...

In [8]:
df.to_csv("Dataset.csv")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4832 entries, 0 to 4831
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Review Sentence        4832 non-null   object
 1   Aspect term            4832 non-null   object
 2   polarity               4832 non-null   object
 3   from                   4832 non-null   int64
 4   to                     4832 non-null   int64
 5   Anger                  4830 non-null   float64
 6   Disgust                4831 non-null   float64
 7   Fear                   4826 non-null   float64
 8   Joy                    4815 non-null   float64
 9   Sadness                4830 non-null   float64
 10  Surprise               4823 non-null   float64
 11  Emotion Class          4832 non-null   object
 12  emotion context words  4671 non-null   object
dtypes: float64(6), int64(2), object(5)
memory usage: 490.9+ KB